<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="login" src="assets/img/icons/user.svg" alt="Logo">
        <h3>Register User</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Use your username">
            <label>User</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" [(ngModel)]="password"  class="form-control" placeholder="Use your password">
            <label>Password</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" [(ngModel)]="confirmPassword"  class="form-control" placeholder="Use your password">
            <label>Repeat your password</label>
        </div>
        <div class="d-grid gap-2 mb-2">
            <button type="button" (click)="addUser()" class="btn btn-dark btn-lg">Accept</button>
        </div>
        <a routerLink="/login">Back</a>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>