<app-navbar></app-navbar> 
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title">
        <h4>Listado de Productos</h4>
        <button type="button" class="btn btn-primary" routerLink="/add">Agregar producto</button>
    </div>
    <table *ngIf="listProducts.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listProducts" class="table-dark">
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.stock }}</td>
            <td>
            <button routerLink="/edit/ {{item.id}}" type="button" class="btn btn-info btn-sm" >Edit</button>
            <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-secondary btn-sm ms-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="listProducts.length == 0" class="alert alert-dismissible alert-primary mt-3">
        <a href="#" class="alert-link">No haz añadido productos aún</a>
      </div>
</div>

